<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="app.component.css">
  
  <title>Document</title>
</head>
<body>
  <div class="top-banner">
    <div class="container">
      <div class="banner">📣 Interviews is now in beta! Read more →</div>
    </div>
  </div>
  <nav>
    <div class="container main-nav flex">
      <div class="company-logo">
        <img src="https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5dc9062fc19d430f6909ced7_UHLogo_standard.png" id="image">
      </div>
      <div class="company-links">
        <ul>
          <li><a href="/"class="links"> Product</a></li>
          <li><a href="/"class="links">Customers</a></li>
          <li><a href="/"class="links">Pricing</a></li>
          <li> <a href="/"class="links">Resources</a></li>
          <li> <a href="/"class="links secondary-button">SignIn</a></li>
          <li> <a href="/"class="links primary-button">SignUp</a></li>

        </ul>
      </div>
    </div>
  </nav>
 <header>
  <div class="container header-section flex">
    <div class="about-company">
    <h1>Design confidently.</h1>
      <p>UsabilityHub is a remote user research platform that takes the guesswork out of design decisions by validating them with real users.</p>
     <button class="primary-button">Get Started</button>
     <p>No-credit card required</p>
    </div>
    <div class="company-image">
      <img src="https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/61e0f3d9ef7382d9dc96150c_Meta%20Home.jpg" id="about-image">
    </div>
  </div>
 </header>
 <section class="company_section">
  <div class="container">
    <div class="banner">
    <p>The world’s best companies rely on UsabilityHub to make better design decisions.</p>
    </div>
    <div class="logos flex">
      <img class="logo" src="https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5b46e726a0fccf7d78d81585_logo_amazon.png">
      <img class="logo" src="https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5b46e8e6b998def81a004629_logo_google.png">
      <img  class="logo" src="https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5b46e8e6a0fccf20fed815e3_logo_taskrabbit.png">
      <img  class="logo" src="https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5b46e8e6ee75f135fc390ab6_logo_airtable.png"> 
      <img  class="logo" src="https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5b46e726c3102cf1ebf0c2c0_logo_box.png">
      <img  class="logo" src="https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5f7fda34692422757a1b3768_godaddy.svg"> 
      <img  class="logo" src="https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5b46e726a09814d84e5a21c2_logo_asana.png">  
    </div>
  </div>
 </section>
 <section class="feature-section">
  <div class="container">
    <div class="my-header">
      <h1>Your user research Swiss Army knife</h1>
      <a href="/" class="secondary-button feature-text">See all features <i class="fa-solid fa-arrow-right"></i></a>
    </div>
    <div class="my-header items flex">
      <div class="feature-card">
        <img src="https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/6355e6254d0d41e7d3aa16c0_card-sorting.svg">
        <h2>Card Sorting</h2>
        <p>Discover how people group and label information.</p>
        <a href="/" class="secondary-button feature-text">Learn More <i class="fa-solid fa-arrow-right"></i></a>
      </div>
      <div class="feature-card">
        <img src="https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/6355e6254d0d41e7d3aa16c0_card-sorting.svg">
        <h2>Card Sorting</h2>
        <p>Discover how people group and label information.</p>
        <a href="/" class="secondary-button feature-text">Learn More <i class="fa-solid fa-arrow-right"></i></a>
      </div>
      <div class="feature-card">
        <img src="https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/6355e6254d0d41e7d3aa16c0_card-sorting.svg">
        <h2>Card Sorting</h2>
        <p>Discover how people group and label information.</p>
        <a href="/" class="secondary-button feature-text">Learn More <i class="fa-solid fa-arrow-right"></i></a>
      </div>
      <div class="feature-card">
        <img src="https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/6355e6254d0d41e7d3aa16c0_card-sorting.svg">
        <h2>Card Sorting</h2>
        <p>Discover how people group and label information.</p>
        <a href="/" class="secondary-button feature-text">Learn More <i class="fa-solid fa-arrow-right"></i></a>
      </div>
      <div class="feature-card">
        <img src="https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/6355e6254d0d41e7d3aa16c0_card-sorting.svg">
        <h2>Card Sorting</h2>
        <p>Discover how people group and label information.</p>
        <a href="/" class="secondary-button feature-text">Learn More <i class="fa-solid fa-arrow-right"></i></a>
      </div>
      <div class="feature-card">
        <img src="https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/6355e6254d0d41e7d3aa16c0_card-sorting.svg">
        <h2>Card Sorting</h2>
        <p>Discover how people group and label information.</p>
        <a href="/" class="secondary-button feature-text">Learn More <i class="fa-solid fa-arrow-right"></i></a>
      </div>

    </div>
  </div>
 </section>
 <section class="big-feature section">
  <div class="container"></div>
 </section>
 <section class="big-feature section">
  <div class="container"></div>
</section>
<section class="big-feature section">
  <div class="container"></div>
  <div class="container"></div>
</section>
<section class="examples section">
  <div class="container"></div>
</section>
<section class="learn more">
  <div class="container"></div>
</section>
<footer>
  <div class="container"></div>
</footer>
<section class="subfooter">
  <div class="container"></div>
</section>
<script src="https://kit.fontawesome.com/332895d2f3.js" crossorigin="anonymous"></script>
</body>
</html>